<mat-dialog-actions align="right" style="margin-right: -20px; margin-top: -40px;">
	<span style="padding: 10px; font-size: 18px; display: inline-block; cursor: pointer;" (click)="cancel()">x</span>
</mat-dialog-actions>
<form>
	<div>
		<h2 mat-dialog-title>Add Object Relationship</h2>
	</div>	
	<div>
		<mat-dialog-content>
            <h4>Relationship</h4>
			<mat-form-field class="full-wid">
				<label>Relationship Type</label>
                <select matNativeControl formControlName="accountType">
                    <option value="Platinum">type1</option>
                    <option value="Gold">type2</option>
                    <option value="Silver">type3</option>
                </select>	
			</mat-form-field> 

			<mat-form-field class="full-wid">
				<label>From object</label>
				<input matInput formControlName="name" type="text" value="from object name" readonly>
            </mat-form-field> 
            
            <mat-form-field class="full-wid">
				<label>To object</label>
				<select matNativeControl formControlName="accountType">
                    <option value="Platinum">name object1</option>
                    <option value="Gold">name object2</option>
                    <option value="Silver">name object3</option>
                </select>	
            </mat-form-field> 

            <mat-form-field class="full-wid">
				<label>Relationship Name (optional)</label>
                <input type="text" formControlName="name" type="text" value="from object name">
			</mat-form-field>           
		</mat-dialog-content>
	</div>	
	<div>
		<mat-dialog-actions align="right">
			<button mat-raised-button type="button" (click)="cancel()" color="warn">CANCEL</button>
			<button mat-raised-button type="button" (click)="create()" color="primary" >CREATE</button>
		</mat-dialog-actions>
	</div>	
</form>
