.relationship {
  svg {
    cursor: pointer;
  }
  .action-edit {
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    i {
      font-size: 24px;
      color: #babfc1;
      height: 20px;
      cursor: pointer;
    }
  }
  mat-card-actions {
    h1 {
      // font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 37px;
      /* identical to box height */

      letter-spacing: 0.01em;

      /* color icon */

      color: #073143;
    }
    button {
      width: fit-content;
      background: #016e9c;
      box-shadow: 0px 2px 6px rgba(1, 110, 156, 0.24);
      border-radius: 8px;
      margin: 0 16px 0 0;
      padding: 6px 10px;
      span {
        color: #fff;
        margin-left: 30px;
        margin-right: 5px;

        // font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.01em;
      }
    }
    button:nth-child(3) {
      background: #ff5353;
    }
  }
}
